# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

monitor_result.json
monitor_result.csv
monitor_result.txt

check-prod.py

bin/
lib/
include/
share/
lib64/
pyvenv.cfg